
.quantity-controls button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .remove-button {
    margin-top: 10px;
    background-color: #ff5555;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o ícone e o texto */
  }
  
  .remove-button:hover {
    background-color: #ff3333;
  }
  